 VITE_API_URL=<api_url> 
#this is for only frontend docker container, it will be used to set the base URL for API calls in the frontend application. You can replace <api_url> with the actual URL of your backend API, such as http://localhost:8080/api or the appropriate URL if you are using Docker Compose with service names.